<a href="/blogs" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
<% categories.forEach(category => { %>
    <a href="/blogs/category/<%= category.dataValues.categoryid %> " class="list-group-item list-group-item-action 
        <%= selectedCategory == category.dataValues.categoryid ? 'active': '' %> ">
        <%= category.dataValues.name %> 
    </a>
<% }) %>