<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <h1 style="padding-left: 300px;color: rgb(255, 0, 0);">Bilinmeyen Bir Hata Oluştu !</h1>
    </div>

</body>
</html>